extends layout
block vars 
    -var locationPageActive= "active"
block title   
  title TravelExperts Package Creation Complete
block content
  main#main
    section#services.services
      .container
        .section-title
          h2 Creation Complete
        .row
          .col.col-centered
            a(href="/packages/create")
              .icon-box(data-aos='fade-up')
                .icon
                  i.far.fa-plus-square
                h4.title
                  a(href="/packages/create") Create another new package     
          .col.col-centered
            a(href="/packages")
              .icon-box(data-aos='fade-up')
                .icon
                    i.fas.fa-atlas
                h4.title.center-container-text
                  a(href="/packages") View all packages



