extends layout

block content
 main#main
  // portfolio
  section#Locations.portfolio
    .container
      .section-title(data-aos='fade-in' data-aos-delay='100')
        h1= message
        h2= error.status
        if error.status == 404
          p Sorry, we could not find that page
        else
          .container
          p #{error.stack}
        if errors   
          each error in errors 
            p.alert.alert-danger= error

        
